/*Margin & Padding:*/

/*Espaço interno do elemento: padding*/ 
#Exemplo {
    color: #00ffff;;
    background-color: black;
    width: 500px;
    padding: 20px;
}
/*OBS: O elemento ficará maior ao declarar seu espaço interno
devido ao valor do espaço interno alocado (padding)*/

/*Espaço externo do elemento: margin*/
#Exemplo2 {
    color: greenyellow;
    background-color: grey;
    width: 500px;
    padding: 20px;
    margin-top: 20px;
}

/*--------------------------------------------------------*/

/*Text:*/

/*Posicionamento do texto: text-allign*/
/*"Decoração" do texto: text-decoration*/
/*"Decoração" da letra: text-transform*/
/*Justificando o texto: text-allign: justify*/
/*Recuo do texto: text-ident*/
/*Altura das linhas: text-height*/
/*Direção do texto: direction*/
/*Espaço das letras: letter-spacing*/
/*Espaço das palavras: word-spacing*/
/*Sombra ao texto: text-shadow*/
h1 {
    text-align: left;
    color: red;
    text-decoration: underline;
}

h2 {
    text-align: center;
    color: green;
    text-decoration: overline;
}

h3 {
    text-align: right;
    color: aqua;
    text-decoration: line-through;
}

p {
    text-transform:inherit;
    text-align: justify;
    text-indent: 20px;
    text-shadow: 10px 10px 3px black;
}

/*--------------------------------------------------------*/

/*Box Sizing e Box Shadow*/

/*Altera o espaçamento do elemento sem modificar o tamanho do mesmo: box-sizing*/

/*Adiciona uma sombra ao elemento: box-shadow*/
#conteudo {
    background-color: black;
    color: white;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 10px 10px 5px greenyellow;
}