<p>home works!</p>

<button [attr.teste-do-video]="idButton">teste</button>

<button (click)="submit()">clique</button>

<button (click)="Event($event)">Evento</button>

<button (click)="Submit()">Serviço</button>

<button (click)="SUBMIT()">CLIQUE!</button>

<!--Versão atual-->
@if(deveMostrarTexto){ <h1>Meu Texto</h1> }

<!--Versão antiga-->
<h1 *ngIf="deveMostrarTexto">Meu Texto 2</h1>

<!--Versão atual-->
@for(item of listItems; track item) {
    <p>{{ item }}</p>
}

<!--Versão antiga-->
<p *ngFor="let item of listItems">{{ item }}</p>

<h1> {{ minhaPropsDeFora }} </h1>