header {
    font-family: "Big Shoulders Stencil", sans-serif;
    text-align: center;
    color: white;
}

body {
    background: gray;
    margin: 0;
    padding: 0;
}

.produtos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.produto {
    background: white;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    text-align: center;
}

.produto img {
    width: 100%;
    border-radius: 10px;
}

button {
    background: gray;
    height: 20px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    background: black;
    cursor: pointer;
}